
<!-- :::: start sidebar_bot snippet :::: -->
<h1>PROJAS Bound Volumes</h1>
<p style="text-align:center; padding-left:0;"><img src="/images/journal.jpg" alt="Purchase Bound Volumes"/><br/>
<a href="http://www.aaai.org/Press/Journals/journals.php">Purchase Bound Volumes</a></p>
<!-- :::: end sidebar_bot snippet :::: -->