<!-- :::: begin footer :::: -->
<div class="doorstop"><!-- this is only here to keep the door from closing on floated content --></div>
  </div>
  <div id="footer">
    <p class="links"><a href="/faqs.html">FAQ</a> | <a href="/bestpaper.html">Best Paper</a> | <a href="/resources.html">WWW AI Resources</a> | <a href="/comments.html">Comments</a> | <a href="http://mailman.isi.edu/mailman/listinfo/jairsubscribers">Notify Me of New Articles</a></p>
    <p class="copyright">&copy; Copyright 1993-2006 AI Access Foundation, Inc.</p>
  </div>
</body>
</html>