<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>PROJAS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />%more_calls%
</head>
<body>
  <div id="header">
    <img src="/images/header.jpg" alt="Journal of Artificial Intelligence Research" />
    <ul id="nav">
      <li id="spacer"></li>
      <li id="navhome"><a href="/">Home</a></li>
      <li id="navcontents"><a href="/contents.html">Contents</a></li>
      <li id="navsearch"><a href="http://www.sadl.uleth.ca/nz/cgi-bin/library?c=jair&amp;p=about">Search</a></li>
      <li id="navmasthead"><a href="/vol/mast26.html">Masthead</a></li>
      <li id="navsubmission"><a href="/submission_info.html">Submission Info</a></li>
      <li id="navnews"><a href="/news.html">News</a></li>
    </ul>
  </div>
  <div id="jair">
    <div id="content">
<!-- :::: end header :::: -->