<div class="masthead">
        <h1>Editors and Staff, 1998</h1>
        <div style="border-top: 2px ridge #CCCCCC;">
            <h2>Executive Editor</h2><a href="http://ai.eecs.umich.edu/people/wellman/">Michael Wellman</a>
        </div>
        <div>
            <h2>Associate Editors</h2>
            <ul class="twocolumns">
                <li><a href="http://www.cs.ubc.ca/spider/cebly/craig.html">Craig Boutilier</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~nebel">Bernhard Nebel</a></li>
                <li><a href="http://www.cs.brown.edu/people/tld/home.html">Thomas Dean</a></li>
                <li><a href="http://www.cs.pitt.edu/~pollack/">Martha Pollack</a></li>
                <li><a href="http://www.cs.rutgers.edu/~hirsh/index.html">Haym Hirsh</a></li>
                <li><a href="http://www.rulequest.com/">Ross Quinlan</a></li>
                <li><a href="http://www.cs.cmu.edu/~awm/hp.html">Andrew Moore</a></li>
                <li><a href="http://www.cs.berkeley.edu/~russell">Stuart Russell</a></li>
                <li><a href="http://www.cs.pitt.edu/~jmoore">Johanna Moore</a></li>
                <li><a href="http://www.research.att.com/~selman/">Bart Selman</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/projects/mba/people/nayak.html">Pandurang Nayak</a></li>
                <li><a href="http://www.cs.brown.edu/people/pvh/">Pascal van Hentenryck</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Editorial Board</h2>
            <ul>
                <li><a href="http://www.aic.nrl.navy.mil/~aha/">David Aha</a></li>
                <li><a href="http://www.aic.nrl.navy.mil/~gordon/">Diana Gordon</a></li>
                <li><a href="http://www.research.att.com/~pereira/">Fernando Pereira</a></li>
                <li><a href="http://www.lpaig.uwaterloo.ca:80/~fbacchus/">Fahiem Bacchus</a></li>
                <li><a href="http://www.dbai.tuwien.ac.at/staff/prof.html">Georg Gottlob</a></li>
                <li><a href="http://www.cs.ubc.ca/spider/poole">David Poole</a></li>
                <li><a href="http://www.ida.liu.se/~chrba/">Christer Backstrom</a></li>
                <li><a href="http://www.cs.ualberta.ca/~greiner/">Russell Greiner</a></li>
                <li><a href="http://www.cse.unsw.edu.au/~claude/">Claude Sammut</a></li>
                <li><a href="http://www.cs.bgu.ac.il/~rachel">Rachel Ben-Eliyahu</a></li>
                <li>Adam Grove</li>
                <li><a href="http://www.cs.ualberta.ca/~jonathan/">Jonathan Schaeffer</a></li>
                <li><a href="http://www-ai.ijs.si/ailab/bratko.html">Ivan Bratko</a></li>
                <li><a href="http://www.research.microsoft.com/research/dtg/heckerma/heckerma.html">David Heckerman</a></li>
                <li><a href="http://www.dis.uniroma1.it/~schaerf">Marco Schaerf</a></li>
                <li><a href="http://www.cs.jhu.edu/~brill">Eric Brill</a></li>
                <li><a href="http://www.ece.nwu.edu/~hstein/hstein_ece.html">Lisa Hellerstein</a></li>
                <li><a href="http://www.cs.rochester.edu/u/schubert/">Lenhart Schubert</a></li>
                <li><a href="http://www.cs.brown.edu/people/ec/">Eugene Charniak</a></li>
                <li><a href="http://www.parc.xerox.com/hogg">Tad Hogg</a></li>
                <li><a href="http://www.cs.colorado.edu/~baveja/">Satinder Singh</a></li>
                <li><a href="http://www.cbmi.upmc.edu/~gfc">Gregory Cooper</a></li>
                <li><a href="http://www.csi.uottawa.ca/~holte/">Robert Holte</a></li>
                <li><a href="http://www.rpal.rockwell.com/~de2smith">David Smith</a></li>
                <li><a href="http://www.cirl.uoregon.edu/crawford/crawford.html">James Crawford</a></li>
                <li><a href="http://www.research.microsoft.com/research/dtg/horvitz/default.htm">Eric Horvitz</a></li>
                <li><a href="http://www.cs.rice.edu/~devika">Devika Subramanian</a></li>
                <li><a href="http://www.mri.mq.edu.au/~rdale">Robert Dale</a></li>
                <li><a href="http://www.ai.mit.edu/projects/jordan.html">Michael Jordan</a></li>
                <li><a href="http://www.cs.orst.edu/~tadepall">Prasad Tadepalli</a></li>
                <li>Peter Dayan</li>
                <li><a href="http://www.research.att.com/~mkearns/">Michael Kearns</a></li>
                <li><a href="http://www.isi.edu/soar/tambe">Milind Tambe</a></li>
                <li><a href="http://www.cs.kuleuven.ac.be/~lucdr/">Luc de Raedt</a></li>
                <li><a href="http://robotics.stanford.edu/~koller">Daphne Koller</a></li>
                <li><a href="http://iew3.technion.ac.il:8080/Home/Users/Moshet.phtml">Moshe Tennenholtz</a></li>
                <li><a href="http://www.cs.orst.edu/~tgd/">Thomas Dietterich</a></li>
                <li><a href="http://www.cs.ucla.edu/csd-lanai/fweb/korf/">Richard Korf</a></li>
                <li><a href="http://www.cs.cmu.edu/~thrun/">Sebastian Thrun</a></li>
                <li><a href="http://www.informatik.uni-giessen.de/staff/eiter/eiter.html">Thomas Eiter</a></li>
                <li><a href="http://www.cs.biu.ac.il:8080/~sarit/">Sarit Kraus</a></li>
                <li><a href="http://www.zzz.pe.u-tokyo.ac.jp/">Tetsuo Tomiyama</a></li>
                <li><a href="http://liawww.epfl.ch/~faltings/">Boi Faltings</a></li>
                <li><a href="http://ai.eecs.umich.edu/people/laird/">John Laird</a></li>
                <li><a href="http://ai.iit.nrc.ca/staff/peter.html">Peter Turney</a></li>
                <li><a href="http://www.research.microsoft.com/research/dtg/fayyad/">Usama Fayyad</a></li>
                <li><a href="http://www.research.att.com/~levy/">Alon Levy</a></li>
                <li><a href="http://www.cs.ualberta.ca/~vanbeek/">Peter van Beek</a></li>
                <li>Stephanie Forrest</li>
                <li><a href="http://www.cs.duke.edu/~mlittman">Michael Littman</a></li>
                <li><a href="http://www.cs.vu.nl/~frankh">Frank van Harmelen</a></li>
                <li><a href="http://www.cs.unh.edu/ecf.html">Eugene Freuder</a></li>
                <li><a href="http://www.cps.msu.edu/~mahadeva/">Sridhar Mahadevan</a></li>
                <li>Mark Wallace</li>
                <li><a href="http://www.ldc.usb.ve/~hector">Hector Geffner</a></li>
                <li><a href="http://www-robotics.usc.edu/~maja">Maja Mataric</a></li>
                <li><a href="http://dream.dai.ed.ac.uk/group/tw/">Toby Walsh</a></li>
                <li><a href="http://www.qucis.queensu.ca/home/janice/info.html">Janice Glasgow</a></li>
                <li><a href="http://www.cs.cmu.edu/afs/cs.cmu.edu/user/mitchell/ftp/tomhome.html">Tom Mitchell</a></li>
                <li><a href="http://www.neci.nj.nec.com/homepages/waltz.html">David Waltz</a></li>
                <li><a href="http://www.erg.sri.com/people/moises/">Moises Goldszmidt</a></li>
                <li><a href="http://www.cs.umd.edu/~nau">Dana Nau</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/projects/mba/people/williams.html">Brian Williams</a></li>
                <li>&nbsp;</li>
                <li><a href="http://nathan.gmd.de/persons/stefan.wrobel.html">Stefan Wrobel</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Managing Editor</h2><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a>
        </div>
            <div>
                <h2>Advisory Board</h2>
                <ul class="twocolumns">
                    <li>Jaime Carbonell</li>
                    <li><a href="http://www.research.att.com/~kautz/">Henry Kautz</a></li>
                    <li><a href="http://www.research.att.com/~wcohen/">William Cohen</a></li>
                    <li><a href="http://www.cs.ucla.edu/csd-lanai/fweb/korf/">Richard Korf</a></li>
                    <li><a href="http://www.medg.lcs.mit.edu/doyle">Jon Doyle</a></li>
                    <li><a href="http://www.ai.mit.edu/people/dam/dam.html">David McAllester</a></li>
                    <li><a href="http://www.cs.washington.edu/homes/etzioni/">Oren Etzioni</a></li>
                    <li><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a></li>
                    <li><a href="http://www.cirl.uoregon.edu/ginsberg/">Matthew Ginsberg</a></li>
                    <li><a href="http://www.isi.edu/soar/rosenbloom/">Paul Rosenbloom</a></li>
                    <li><a href="http://afrodite.itc.it:1024/~fausto">Fausto Giunchiglia</a></li>
                    <li><a href="http://envy.cs.umass.edu/People/sutton/sutton.html">Richard Sutton</a></li>
                    <li><a href="http://www.nlm.nih.gov/about_nlm/organization/lister_hill/computer_science/roster/hunter.html">Lawrence Hunter</a></li>
                    <li><a href="http://www.cs.washington.edu/homes/weld/weld.html">Daniel Weld</a></li>
                </ul>
                <div class="doorstop">
                    <!-- holding the div open -->
                </div>
            </div>
            <div>
                <h2>Advanced Information Coordinator</h2><a href="http://ai.iit.nrc.ca/staff/peter.html">Peter Turney</a>
            </div>
            <div>
                <h2>Production Supervisor</h2>Deborah Stark, Univ. Michigan
            </div>
</div>