<div class="masthead">

<h1>Editors and Staff, 2005</h1>

<div style="border-top: 2px ridge #CCCCCC;">
<h2>Editor-in-Chief</h2>
<a href="#">Moshe Tennenholtz</a>
</div>

<div>
<h2>Associate Editor-in-Chief</h2>
<a href="#">Toby Walsh</a>
</div>

<div>
<h2>Associate Editors</h2>
<ul class="twocolumns">
  <li><a href="#">Fahiem Bacchus</a></li>
  <li><a href="#">Peter Bartlett</a></li>
  <li><a href="#">Claire Cardie</a></li>
  <li><a href="#">Walter Daelemans</a></li>
  <li><a href="#">Adnan Darwiche</a></li>
  <li><a href="#">Luc deRaedt</a></li>
  <li><a href="#">Boi Faltings</a></li>
  <li><a href="#">Maria Fox</a></li>
  <li><a href="#">Nir Friedman</a></li>
  <li><a href="#">Russell Greiner</a></li>
  <li><a href="#">Subbarao Kambhampati</a></li>
  <li><a href="#">Sven Koenig</a></li>
  <li><a href="#">Gerhard Lakemeyer</a></li>
  <li><a href="#">Paolo Liberatore</a></li>
  <li><a href="#">Sridhar Mahadevan</a></li>
  <li><a href="#">Daniel Marcu</a></li>
  <li><a href="#">Francesca Rossi</a></li>
  <li><a href="#">Yoav Shoham</a></li>
  <li><a href="#">Milind Tambe</a></li>
  <li><a href="#">Sebastian Thrun</a></li>
  <li><a href="#">Nevin Zhang</a></li>
  <li><a href="#">Shlomo Zilberstein</a></li>
</ul>
<div class="doorstop"><!-- holding the div open --></div>
</div>

<div>
<h2>Editorial Board</h2>
<ul>
  <li><a href="#">Christian Bessiere</a></li>
  <li><a href="#">Lise Getoor</a></li>
  <li><a href="#">Ilkka Niemela</a></li>
  <li><a href="#">Alex Borgida</a></li>
  <li><a href="#">Lee Giles</a></li>
  <li><a href="#">Illah Nourbakhsh</a></li>
  <li><a href="#">Chris Brew</a></li>
  <li><a href="#">Enrico Giunchiglia</a></li>
  <li><a href="#">Kemal Oflazer</a></li>
  <li><a href="#">Wolfram Burgard</a></li>
  <li><a href="#">Amy Greenwald</a></li>
  <li><a href="#">Maurice Pagnucco</a></li>
  <li><a href="#">Marco Cadoli</a></li>
  <li><a href="#">Holger Hoos</a></li>
  <li><a href="#">David Parkes</a></li>
  <li><a href="#">Max Chickering</a></li>
  <li><a href="#">Ian Horrocks</a></li>
  <li><a href="#">Donia Precup</a></li>
  <li><a href="#">Michael Collins</a></li>
  <li><a href="#">Nathalie Japkowicz</a></li>
  <li><a href="#">David Pynadath</a></li>
  <li><a href="#">Diane Cook</a></li>
  <li><a href="#">Thorsten Joachims</a></li>
  <li><a href="#">Dragomir Radev</a></li>
  <li><a href="#">Mark Craven</a></li>
  <li><a href="#">Phillipe Laborie</a></li>
  <li><a href="#">Dan Roth</a></li>
  <li><a href="#">James Cussens</a></li>
  <li><a href="#">Piero La Mura</a></li>
  <li><a href="#">Bernhard Scholkopf</a></li>
  <li><a href="#">Sanjoy Dasgupta</a></li>
  <li><a href="#">Jerome Lang</a></li>
  <li><a href="#">Paolo Traverso</a></li>
  <li><a href="#">Jurgen Dix</a></li>
  <li><a href="#">Lillian Lee</a></li>
  <li><a href="#">Ioannis Tsamardinos</a></li>
  <li><a href="#">Charles Elkan</a></li>
  <li><a href="#">John Lloyd</a></li>
  <li><a href="#">Gerhard Widmer</a></li>
  <li><a href="#">Peter Flach</a></li>
  <li><a href="#">Derek Long</a></li>
  <li><a href="#">Mary-Anne Williams</a></li>
  <li><a href="#">Dieter Fox</a></li>
  <li><a href="#">Stan Matwin</a></li>
  <li><a href="#">David Wolpert</a></li>
  <li><a href="#">Eibe Frank</a></li>
  <li><a href="#">Serafin Moral</a></li>
  <li><a href="#">Weixiong Zhang</a></li>
  <li><a href="#">Johannes Fuernkranz</a></li>
  <li><a href="#">David Musliner</a></li>
  <li><a href="#">Linda van der Gaag</a></li>
  <li><a href="#">Karen Myers</a></li>
</ul>
<div class="doorstop"><!-- holding the div open --></div>
</div>

<div>
<h2>Advisory Board</h2>
<ul class="twocolumns">  
  <li><a href="#">Carla Brodley</a></li>
  <li><a href="#">Michael Littman</a></li>
  <li><a href="#">Pedro Domingos</a></li>
  <li><a href="#">Steven Minton</a></li>
  <li><a href="#">Thomas Eiter</a></li>
  <li><a href="#">Andrew Moore</a></li>
  <li><a href="#">Alon Halevy</a></li>
  <li><a href="#">David Poole</a></li>
  <li><a href="#">Haym Hirsh</a></li>
  <li><a href="#">David Smith</a></li>
  <li><a href="#">Tad Hogg</a></li>
  <li><a href="#">Diana Spears</a></li>
  <li><a href="#">Michael Kearns</a></li>
  <li><a href="#">Peter Turney</a></li>
  <li><a href="#">Daphne Koller</a></li>
  <li><a href="#">Makoto Yokoo</a></li>
</ul>
<div class="doorstop"><!-- holding the div open --></div>
</div>

<div>
<h2>Managing Editor</h2>
<a href="#">Steven Minton</a>
</div>

<div>
<h2>Special Projects</h2>
<ul class="twocolumns">
  <li><a href="#">Michael Wellman</a></li>
  <li><a href="#">Martha Pollack</a></li>
</ul>
<div class="doorstop"><!-- holding the div open --></div>
</div>

<div>
<h2>Production Supervisor</h2>
<a href="#">Lillian Bluestein</a>
</div>

</div>