<h1>PROJAS Volume 5 Masthead</h1>
    <h2>EXECUTIVE EDITOR</h2>
    <pre>
   Steven Minton, <em>USC/ISI</em>
</pre>
    <h2>ASSOCIATE EDITORS</h2>
    <pre>
   William Cohen, <em>AT&amp;T Bell Laboratories</em>
   Jon Doyle, <em>MIT</em>
   Fausto Giunchiglia, <em>IRST</em>
   Lawrence Hunter, <em>National Library of Medicine</em>
   Henry Kautz, <em>AT&amp;T Bell Laboratories</em>
   Richard Korf, <em>UCLA</em>
   David McAllester, <em>AT&amp;T Bell Laboratories</em>
   Johanna D. Moore, <em>Univ. of Pittsburgh</em>
   Richard Sutton, <em>Univ. of Mass.</em>
   Pascal van Hentenryck, <em>Brown Univ.</em>
   Daniel Weld, <em>Univ. of Wash.</em>
   Michael Wellman, <em>Univ. of Michigan</em>
</pre>
    <h2>EDITORIAL BOARD</h2>
    <pre>
   David W. Aha, <em> Naval Research Lab. </em>
   James F. Allen, <em>Univ. of Rochester</em>
   Yuichiro Anzai, <em>Keio Univ.</em>
   Andrew G. Barto, <em>Univ. of Mass.</em>
   Craig Boutilier, <em> Univ. of British Columbia </em>
   Ivan Bratko, <em>Ljubljana Univ. </em>
   Gerhard Brewka, <em> Tech. Univ. of Vienna </em>
   Wray Buntine, <em>Thinkbank Inc.</em>
   Murray Campbell, <em>IBM</em>
   James Crawford, <em>CIRL, Univ. of Oregon</em>
   Adnan Darwiche, <em> Rockwell </em>
   Thomas Dean, <em>Brown Univ.</em>
   Rina Dechter, <em>UC Irvine</em>
   Bonnie J. Dorr, <em>Univ. of Maryland</em>
   Edmund Durfee, <em>Univ. of Michigan</em>
   Douglas Fisher, <em>Vanderbilt Univ.</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Hector Geffner, <em>Simon Bolivar Univ.</em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Janice Glasgow, <em> Queen's Univ. </em>
   Georg Gottlob, <em>  TU Wien </em>
   Steve Hanks, <em>Univ. of Washington</em>
   Barbara Hayes-Roth, <em>Stanford University</em>
   Julia Hirschberg, <em>AT&amp;T Bell Laboratories</em>
   Haym Hirsh, <em>Rutgers Univ.</em>
   Eric Horvitz, <em> Microsoft Research </em>
   Toru Ishida, <em>Kyoto Univ.</em>
   Leslie Pack Kaelbling, <em>Brown Univ.</em>
   Subbarao Kambhampati, <em>Arizona State Univ.</em>
   Michael J. Kearns, <em> AT&amp;T Bell Laboratories</em>
   Hiroaki Kitano, <em>Sony Computer Sci. Laboratories</em>
   Craig A. Knoblock, <em>USC/ISI</em>
   Daphne Koller, <em> Stanford Univ.</em>
   Kurt Konolige, <em>SRI</em>
   Benjamin Kuipers, <em>Univ. of Texas at Austin</em>
   John E. Laird, <em> Univ. of Michigan</em>
   Pat Langley, <em>ISLE and Stanford Univ.</em>
   Alan Mackworth, <em>Univ. of British Columbia</em>
   Raymond J. Mooney, <em>Univ. of Texas at Austin</em>
   Andrew W. Moore, <em>Carnegie Mellon Univ</em>
   Stephen Muggleton, <em>Oxford Univ.</em>
   Pandu Nayak, <em> NASA Ames Res. Center</em>
   Bernhard Nebel, <em>Universitaet Ulm</em>
   Nils Nilsson, <em>Stanford Univ.</em>
   Toyoaki Nishida, <em>Kyoto Univ.</em>
   Christos Papadimitriou, <em>UC San Diego</em>
   Michael Pazzani, <em>UC Irvine</em>
   Judea Pearl, <em>UCLA</em>
   Ross Quinlan, <em>Univ. of Sydney</em>
   Paul Rosenbloom, <em>USC/ISI</em>
   Erik Sandewall, <em>Univ.</em>
   Jonathan Schaeffer, <em>  Univ. of Alberta </em>
   Jeffrey C. Schlimmer, <em> Washington State Univ.</em>
   Lenhart K. Schubert, <em>Univ. of Rochester</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
   Jude W. Shavlik, <em>Univ. of Wisconsin</em>
   Stuart Shieber, <em>Harvard Univ.</em>
   Douglas R. Smith, <em>Kestrel Institute</em>
   Anthony Stentz, <em>Carnegie Mellon Univ.</em>
   Peter Struss, <em>Technical Univ. of Munich</em>
   William Swartout, <em>USC/ISI</em>
   Austin Tate, <em>AIAI, Edinburgh Univ.</em>
   Peter Turney, <em> NRC Canada </em>
   Peter van Beek, <em> Univ. of Alberta </em>
   Mark Wallace, <em> Imperial College, London </em>
</pre>
    <h2>ADVISORY BOARD</h2>
    <pre>
   Jaime Carbonell, <em> Carnegie Mellon Univ.</em>
   Thomas Dietterich, <em>Oregon State</em>
   Oren Etzioni, <em>Univ. of Washington</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Peter Friedland, <em>NASA Ames Res. Center </em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Richard Korf, <em>UCLA</em>
   Paul Rosenbloom, <em>USC/ISI</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
   Daniel Weld, <em>Univ. of Wash.</em>
</pre>