<div class="masthead">
        <h1>Editors and Staff, 2003</h1>
        <div style="border-top: 2px ridge #CCCCCC;">
            <h2>Editor-in-Chief</h2><a href="http://www.eecs.umich.edu/~pollackm/">Martha E. Pollack</a>
        </div>
        <div>
            <h2>Associate Editor-in-Chief</h2><a href="http://iew3.technion.ac.il/Home/Users/Moshet.phtml">Moshe Tennenholtz</a>
        </div>
        <div>
            <h2>Associate Editors</h2>
            <ul class="twocolumns">
                <li><a href="http://www.cs.toronto.edu/~fbacchus/">Fahiem Bacchus</a></li>
                <li><a href="http://www.cs.huji.ac.il/~nir">Nir Friedman</a></li>
                <li><a href="http://www.cs.berkeley.edu/~bartlett/">Peter Bartlett</a></li>
                <li><a href="http://www-2.cs.cmu.edu/~lafferty/">John Lafferty</a></li>
                <li><a href="http://www.cs.jhu.edu/~brill/">Eric Brill</a></li>
                <li><a href="http://www-i5.informatik.rwth-aachen.de/gerhard/">Gerhard Lakemeyer</a></li>
                <li><a href="http://mow.ecn.purdue.edu/~brodley/">Carla Brodley</a></li>
                <li>Paolo Liberatore</li>
                <li><a href="http://cnts.uia.ac.be/~walter/">Walter Daelemans</a></li>
                <li><a href="http://www.cs.rutgers.edu/~mlittman">Michael Littman</a></li>
                <li><a href="http://www.cs.ucla.edu/~darwiche/">Adnan Darwiche</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/people/de2smith/">David Smith</a></li>
                <li><a href="http://www.cs.washington.edu/homes/pedrod">Pedro Domingos</a></li>
                <li><a href="http://www.isi.edu/teamcore/tambe/">Milind Tambe</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~deraedt/">Luc deRaedt</a></li>
                <li><a href="http://www-users.cs.york.ac.uk/~tw/">Toby Walsh</a></li>
                <li><a href="http://www.dur.ac.uk/maria.fox/">Maria Fox</a></li>
                <li><a href="http://www.kecl.ntt.co.jp/csl/ccrg/members/yokoo/">Makoto Yokoo</a></li>
                <li><a href="http://www.cs.ust.hk/~lzhang/">Nevin Zhang</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Editorial Board</h2>
            <ul>
                <li><a href="http://www.syseng.anu.edu.au/~jon/">Jonathan Baxter</a></li>
                <li><a href="http://www.cs.brown.edu/people/amy/">Amy Greenwald</a></li>
                <li><a href="http://www.cse.unsw.edu.au/~morri/">Maurice Pagnucco</a></li>
                <li><a href="http://www.cs.rutgers.edu/~borgida/">Alex Borgida</a></li>
                <li><a href="http://www.cs.msstate.edu/~hansen/">Eric Hansen</a></li>
                <li><a href="http://www.eecs.harvard.edu/~parkes/">David Parkes</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~burgard/">Wolfram Burgard</a></li>
                <li>Ian Horrocks</li>
                <li><a href="http://www.eecs.harvard.edu/~avi/">Avi Pfeffer</a></li>
                <li><a href="http://www.cs.utsa.edu/~bylander/">Tom Bylander</a></li>
                <li><a href="http://www.ai.mit.edu/people/tommi/tommi.html">Tommi Jaakkola</a></li>
                <li><a href="http://www.cs.mcgill.ca/~dprecup">Doina Precup</a></li>
                <li><a href="http://www.research.whizbang.com/~wcohen">William Cohen</a></li>
                <li><a href="http://www.cs.umass.edu/~jensen">David Jensen</a></li>
                <li><a href="http://www.stern.nyu.edu/~fprovost/home.html">Foster Provost</a></li>
                <li><a href="http://www.cs.cmu.edu/~fgcozman/home.html%0D%0A">Fabio Cozman</a></li>
                <li><a href="http://www.joachims.org">Thorsten Joachims</a></li>
                <li><a href="http://tangra.si.umich.edu/~radev/">Dragomir Radev</a></li>
                <li><a href="http://www.cs.ucla.edu/~darwiche">Adnan Darwiche</a></li>
                <li>Lefteris Kirousis</li>
                <li><a href="http://www.math.unipd.it/~frossi/">Francesca Rossi</a></li>
                <li><a href="http://www.cs.ucsd.edu/~dasgupta">Sanjoy Dasgupta</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~koehler/">Jana Koehler</a></li>
                <li><a href="http://www.di.unito.it/Research/1997/1997_012.html">Lorenza Saitta</a></li>
                <li><a href="http://www.cs.umbc.edu/~mariedj/">Marie desJardins</a></li>
                <li><a href="http://www-2.cs.cmu.edu/~lafferty/">John Lafferty</a></li>
                <li><a href="http://www.cs.man.ac.uk/~sattler/">Ulrike Sattler</a></li>
                <li><a href="http://www-ai.ijs.si/SasoDzeroski/SasoDzeroski.html">Saso Dzeroski</a></li>
                <li>Jerome Lang</li>
                <li><a href="http://www.kyb.tuebingen.mpg.de/~bs">Bernhard Schšlkopf</a></li>
                <li>Charles Elkan</li>
                <li><a href="http://www.dis.uniroma1.it/~liberato/">Paolo Liberatore</a></li>
                <li><a href="http://www.cs.rutgers.edu/~mdstone/">Matthew Stone</a></li>
                <li><a href="http://www.cs.bris.ac.uk/~flach/">Peter Flach</a></li>
                <li><a href="http://www.cs.ust.hk/faculty/flin/">Fangzhen Lin</a></li>
                <li><a href="http://www.cs.utexas.edu/~pstone/">Peter Stone</a></li>
                <li><a href="http://www.cs.washington.edu/homes/fox">Dieter Fox</a></li>
                <li><a href="http://discus.anu.edu.au/~jwl">John Lloyd</a></li>
                <li><a href="http://sra.itc.it/people/traverso/">Paolo Traverso</a></li>
                <li><a href="http://www.etl.go.jp/etl/divisions/~ianf/">Ian Frank</a></li>
                <li><a href="http://www.ksl.stanford.edu/people/sam/">Sheila McIlraith</a></li>
                <li><a href="http://www.cs.cmu.edu/~mmv/">Manuela Veloso</a></li>
                <li><a href="http://www.dcs.st-and.ac.uk/~ipg">Ian Gent</a></li>
                <li><a href="http://www.cse.ogi.edu/~mm">Melanie Mitchell</a></li>
                <li><a href="http://www.cs.colostate.edu/~whitley">Darrell Whitley</a></li>
                <li><a href="http://clgiles.ist.psu.edu">Lee Giles</a></li>
                <li><a href="http://decsai.ugr.es/~smc">Serafin Moral</a></li>
                <li><a href="http://www.ai.univie.ac.at/~gerhard/">Gerhard Widmer</a></li>
                <li><a href="http://www.cirl.uoregon.edu/ginsberg">Matthew Ginsberg</a></li>
                <li>Karen Myers</li>
                <li><a href="http://ic.arc.nasa.gov/~dhw/">David Wolpert</a></li>
                <li><a href="http://www.ece.purdue.edu/~givan/">Robert Givan</a></li>
                <li><a href="http://sequence.rutgers.edu/~nevill/">Craig Nevill-Manning</a></li>
                <li><a href="HREF=">Shlomo Zilberstein</a></li>
                <li><a href="http://www.cs.cornell.edu/gomes/">Carla Gomes</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Advisory Board</h2>
            <ul class="twocolumns">
                <li><a href="http://www.cs.toronto.edu/~cebly/">Craig Boutilier</a></li>
                <li><a href="http://www.cogsci.ed.ac.uk/~jmoore/">Johanna Moore</a></li>
                <li><a href="http://www.cs.cornell.edu/home/selman/">Bart Selman</a></li>
                <li><a href="http://www.cs.brown.edu/people/tld/home.html">Thomas Dean</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/projects/mba/people/nayak.html">Pandurang Nayak</a></li>
                <li><a href="http://iew3.technion.ac.il/Home/Users/Moshet.phtml">Moshe Tennenholtz</a></li>
                <li><a href="http://www.cs.rutgers.edu/~hirsh/index.html">Haym Hirsh</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~nebel">Bernhard Nebel</a></li>
                <li><a href="http://purl.org/net/peter.turney/">Peter Turney</a></li>
                <li><a href="http://www.cis.upenn.edu/~mkearns/">Michael Kearns</a></li>
                <li><a href="http://www.cse.unsw.edu.au/~quinlan/">Ross Quinlan</a></li>
                <li><a href="http://www.cs.ualberta.ca/people/faculty/alumni/vanbeek.html">Peter van Beek</a></li>
                <li><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a></li>
                <li><a href="http://www.cs.berkeley.edu/~russell">Stuart Russell</a></li>
                <li><a href="http://www.cs.brown.edu/people/pvh/">Pascal van Hentenryck</a></li>
                <li><a href="http://www.cs.cmu.edu/~awm/hp.html">Andrew Moore</a></li>
                <li><a href="http://ai.eecs.umich.edu/people/wellman/">Michael Wellman</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
</div>