<div class="masthead">
    
    <h1>Editors and Staff, 2006</h1>
    <div style="border-top: 2px ridge #CCCCCC;">
        <h2>Editor-in-Chief</h2><a href="#">Moshe Tennenholtz</a>
    </div>
    <div>
        <h2>Associate Editor-in-Chief</h2><a href="#">Toby Walsh</a>
    </div>
    <div>
        <h2>Associate Editors</h2>
        <ul class="twocolumns">
            <li><a href="http://www.cs.bgu.ac.il/~brafman/">Ronen Brafman</a></li>
            <li><a href="http://www.cs.cornell.edu/home/cardie/">Claire Cardie</a></li>
            <li><a href="http://research.microsoft.com/~dmax/">Max Chickering</a></li>
            <li><a href="http://anson.ucdavis.edu/~nello/">Nello Cristianini</a></li>
            <li><a href="http://www-users.cs.york.ac.uk/~jc/">James Cussens</a></li>
            <li><a href="http://www.ics.uci.edu/~dechter/">Rina Dechter</a></li>
            <li><a href="http://ai.eecs.umich.edu/people/durfee/">Ed Durfee</a></li>
            <li><a href="http://liawww.epfl.ch/~faltings/">Boi Faltings</a></li>
            <li><a href="http://www.cs.huji.ac.il/~nir">Nir Friedman</a></li>
            <li><a href="http://www.cs.ualberta.ca/~greiner/">Russell Greiner</a></li>
            <li><a href="http://www.cs.cornell.edu/People/tj/">Thorsten Joachims</a></li>
            <li><a href="http://rakaposhi.eas.asu.edu/rao.html">Subbarao Kambhampati</a></li>
            <li><a href="http://www-rcf.usc.edu/~skoenig/">Sven Koenig</a></li>
            <li><a href="http://www.dis.uniroma1.it/~lenzerin/">Maurizio Lenzerini</a></li>
            <li><a href="http://www.cs.ust.hk/~flin/">Fangzhen Lin</a></li>
            <li><a href="http://www.cis.strath.ac.uk/~derek/">Derek Long</a></li>
            <li><a href="http://www.cs.umass.edu/~mahadeva/">Sridhar Mahadevan</a></li>
            <li><a href="http://www.isi.edu/~marcu/">Daniel Marcu</a></li>
            <li><a href="http://www.math.unipd.it/~frossi/">Francesca Rossi</a></li>
            <li><a href="http://l2r.cs.uiuc.edu/~danr/">Dan Roth</a></li>
            <li><a href="http://robotics.stanford.edu/~shoham/">Yoav Shoham</a></li>
            <li><a href="http://www.eecs.umich.edu/~baveja/">Satinder Singh</a></li>
            <li><a href="http://anytime.cs.umass.edu/~shlomo/">Shlomo Zilberstein</a></li>
        </ul>
        <div class="doorstop">
            <!-- holding the div open -->
        </div>
    </div>
    <div>
        <h2>Editorial Board</h2>
        <ul>
            <li><a href="http://reason.cs.uiuc.edu/eyal/">Eyal Amir</a></li>
            <li><a href="http://www.lirmm.fr/~bessiere/">Christian Bessiere</a></li>
            <li><a href="http://www.adventiumlabs.org/People/Boddy/index.html">Mark Boddy</a></li>
            <li><a href="http://www.ling.ohio-state.edu/~cbrew/">Chris Brew</a></li>
            <li><a href="http://www.dis.uniroma1.it/~cadoli/">Marco Cadoli</a></li>
            <li><a href="http://people.csail.mit.edu/people/mcollins/">Michael Collins</a></li>
            <li><a href="http://ranger.uta.edu/~cook/">Diane Cook</a></li>
            <li><a href="http://www.biostat.wisc.edu/~craven/">Mark Craven</a></li>
            <li><a href="http://www.cs.sfu.ca/~jim/">James Delgrande</a></li>
            <li><a href="http://www.csee.umbc.edu/~mariedj/">Marie DesJardins</a></li>
            <li><a href="http://www.in.tu-clausthal.de/~dix/">Jurgen Dix</a></li>
            <li><a href="http://iew3.technion.ac.il/~dcarmel/">Carmel Domshlak</a></li>
            <li><a href="http://www.pitt.edu/~druzdzel/">Marek Druzdzel</a></li>
            <li><a href="http://www.dis.uniroma1.it/~degiacom/">Giuseppe DeGiacomo</a></li>
            <li><a href="http://www.cs.bris.ac.uk/~flach/index.html">Peter Flach</a></li>
            <li><a href="http://www.cs.waikato.ac.nz/~eibe/">Eibe Frank</a></li>
            <li><a href="http://www.ke.informatik.tu-darmstadt.de/~juffi/">Johannes Fuernkranz</a></li>
            <li><a href="http://www.cs.uu.nl/staff/linda.html">Linda van der Gaag</a></li>
            <li><a href="http://www.cs.umd.edu/~getoor/">Lise Getoor</a></li>
            <li><a href="http://www.gatsby.ucl.ac.uk/~zoubin/">Zoubin Ghahramani</a></li>
            <li><a href="http://www.mrg.dist.unige.it/~enrico/">Enrico Giunchiglia</a></li>
            <li><a href="http://www.cs.uic.edu/~piotr/">Piotr Gmytrasiewicz</a></li>
            <li><a href="http://www.cse.msstate.edu/~hansen/">Eric Hansen</a></li>            
            <li><a href="http://www.mpi-sb.mpg.de/~hoffmann/">Joerg Hoffmann</a></li>  
            <li><a href="http://www.cs.brown.edu/people/th/">Thomas Hoffmann</a></li>
            <li><a href="http://www.cs.ubc.ca/~hoos/">Holger Hoos</a></li>
            <li><a href="http://www.site.uottawa.ca/~nat/">Nathalie Japkowicz</a></li>
            <li><a href="http://cswww.essex.ac.uk/PLANET/summer-school-02/laborie.html">Phillipe Laborie</a></li>
            <li><a href="http://www.hhl.de/index.php?id=621&amp;L=4">Piero La Mura</a></li>
            <li><a href="http://homepages.inf.ed.ac.uk/mlap/">Mirella Lapata</a></li>
            <li><a href="http://www.cs.cornell.edu/home/llee/">Lillian Lee</a></li>
            <li><a href="http://www.cs.ubc.ca/~kevinlb/">Kevin Leyton-Brown</a></li>
            <li><a href="http://www.site.uottawa.ca/~stan/">Stan Matwin</a></li>
            <li><a href="http://research.microsoft.com/~meek/meek.htm">Chris Meek</a></li>
            <li><a href="http://www-formal.stanford.edu/leora/">Leora Morgenstern</a></li>
            <li><a href="http://www.cs.umd.edu/users/musliner/">David Musliner</a></li>
            <li><a href="http://ai.stanford.edu/~ang/">Andrew Ng</a></li>
            <li><a href="http://www.tcs.hut.fi/~ini/">Ilkka Niemela</a></li>
            <li><a href="http://www-2.cs.cmu.edu/~illah/">Illah Nourbakhsh</a></li>
            <li><a href="http://www.csee.umbc.edu/~payal1/oates/">Tim Oates</a></li>
            <li><a href="http://people.sabanciuniv.edu/oflazer/">Kemal Oflazer</a></li>
            <li><a href="http://www.eecs.harvard.edu/~parkes/">David Parkes</a></li>
            <li><a href="http://www.isi.edu/~pynadath/">David Pynadath</a></li>
            <li><a href="http://www.informatik.uni-freiburg.de/~rintanen/">Jussi Rintanen</a></li>
            <li><a href="http://web.mit.edu/nickroy/www/">Nick Roy</a></li>
            <li><a href="http://www2.parc.com/isl/members/ruml/">Wheeler Ruml</a></li>
            <li><a href="http://www.ki.inf.tu-dresden.de/~mit/">Michael Thielscher</a></li>
            <li><a href="http://www.cs.engr.uky.edu/~mirek/">Mirek Truszcynski</a></li>
            <li><a href="http://www.mc.vanderbilt.edu/dbmi/people/faculty/tsamardinos_ioannis/">Ioannis Tsamardinos</a></li>
            <li><a href="http://www.cert.fr/dcsd/cd/MEMBRES/verfaillie/homepage-english.html">Gerard Verfaillie</a></li>
            <li><a href="http://research.it.uts.edu.au/magic/Mary-Anne/index.html">Mary-Anne Williams</a></li>
            <li><a href="http://www.cs.ust.hk/~dyyeung/">Dit-Yan Yeung</a></li>
            <li><a href="http://www.ai.sri.com/~nysmith/">Neil Yorke-Smith</a></li>
            <li><a href="http://www.cse.wustl.edu/~zhang/">Weixiong Zhang</a></li>
        </ul>
        <div class="doorstop">
            <!-- holding the div open -->
        </div>
    </div>
    <div>
        <h2>Advisory Board</h2>
        <ul class="twocolumns">
            <li><a href="http://www.cs.toronto.edu/~fbacchus/">Fahiem Bacchus</a></li>
            <li><a href="http://www.cs.berkeley.edu/~bartlett/">Peter Bartlett</a></li>
            <li><a href="http://www.cs.tufts.edu/~brodley/">Carla Brodley</a></li>
            <li><a href="http://www.cnts.ua.ac.be/~walter/">Walter Daelemans</a></li>
            <li><a href="http://www.cs.ucla.edu/~darwiche/">Adnan Darwiche</a></li>
            <li><a href="http://www.informatik.uni-freiburg.de/~deraedt/">Luc De Raedt</a></li>
            <li><a href="http://www.cs.washington.edu/homes/pedrod/">Pedro Domingos</a></li>
            <li><a href="http://www.kr.tuwien.ac.at/staff/eiter/eiter.html">Thomas Eiter</a></li>
            <li><a href="http://www.cis.strath.ac.uk/~maria/">Maria Fox</a></li>
            <li><a href="http://www.cs.washington.edu/homes/alon/">Alon Halevy</a></li>
            <li><a href="http://www.alumni.caltech.edu/~tad/">Tad Hogg</a></li>
            <li><a href="http://robotics.stanford.edu/~koller/">Daphne Koller</a></li>
            <li><a href="http://www-i5.informatik.rwth-aachen.de/gerhard/">Gerhard Lakemeyer</a></li>
            <li><a href="http://www.dis.uniroma1.it/~liberato/">Paolo Liberatore</a></li>
            <li><a href="http://www.cs.duke.edu/~mlittman/">Michael Littman</a></li>
            <li><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a></li>
            <li><a href="http://www.eecs.umich.edu/~pollackm/">Martha Pollack</a></li>
            <li><a href="http://www.cs.ubc.ca/spider/poole/">David Poole</a></li>
            <li><a href="http://ic.arc.nasa.gov/ic/people/de2smith/">David Smith</a></li>
            <li><a href="http://www.cs.uwyo.edu/~dspears">Diana Spears</a></li>
            <li><a href="http://www.isi.edu/teamcore/tambe/">Milind Tambe</a></li>
            <li><a href="http://ai.eecs.umich.edu/people/wellman">Michael Wellman</a></li>
            <li><a href="http://lang.is.kyushu-u.ac.jp/~yokoo/">Makoto Yokoo</a></li>
            <li><a href="http://www.cs.ust.hk/faculty/lzhang/bio.html">Nevin Zhang</a></li>
        </ul>
        <div class="doorstop">
            <!-- holding the div open -->
        </div>
    </div>
    <div>
        <h2>Managing Editor</h2><a href="#">Steven Minton</a>
    </div>
    <div>
        <h2>Special Projects</h2>
        <ul class="twocolumns">
            <li><a href="#">Michael Wellman</a></li>
            <li><a href="#">Martha Pollack</a></li>
        </ul>
        <div class="doorstop">
            <!-- holding the div open -->
        </div>
    </div>
    <div>
        <h2>Production Supervisor</h2><a href="#">Lillian Bluestein</a>
    </div>
</div>