<div class="masthead">

<h1>Editors and Staff, 2000</h1>
        <div style="border-top: 2px ridge #CCCCCC;">
            <h2>Executive Editor</h2><a href="http://www.eecs.umich.edu/~pollackm/">Martha E. Pollack</a>
        </div>
        <div>
            <h2>Associate Editors</h2>
            <ul class="twocolumns">
                <li><a href="http://www.kr.tuwien.ac.at/staff/eiter/eiter.html">Thomas Eiter</a></li>
                <li><a href="http://www.cs.duke.edu/~mlittman">Michael Littman</a></li>
                <li><a href="http://www.cs.uwyo.edu/~dspears">Diana Gordon</a></li>
                <li><a href="http://www.cs.ubc.ca/spider/poole">David Poole</a></li>
                <li><a href="http://www.cs.washington.edu/homes/alon/">Alon Halevy</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/people/de2smith/">David Smith</a></li>
                <li><a href="http://www.parc.xerox.com/hogg">Tad Hogg</a></li>
                <li><a href="http://iew3.technion.ac.il:8080/Home/Users/Moshet.phtml">Moshe Tennenholtz</a></li>
                <li><a href="http://www.research.att.com/~mkearns/">Michael Kearns</a></li>
                <li><a href="http://ai.iit.nrc.ca/staff/peter.html">Peter Turney</a></li>
                <li><a href="http://robotics.Stanford.EDU/~koller/">Daphne Koller</a></li>
                <li><a href="http://logos.uwaterloo.ca/~vanbeek">Peter van Beek</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Editorial Board</h2>
            <ul>
                <li><a href="http://www-lti.informatik.rwth-aachen.de/ti/baader-en.html">Franz Baader</a></li>
                <li><a href="http://www.cs.huji.ac.il/~nir">Nir Friedman</a></li>
                <li><a href="http://www.bell-labs.com/user/pfps">Peter Patel-Schneider</a></li>
                <li><a href="http://wwwsyseng.anu.edu.au/~bartlett/">Peter Bartlett</a></li>
                <li><a href="http://www.dcs.st-and.ac.uk/~ipg">Ian Gent</a></li>
                <li><a href="http://www.cs.utexas.edu/users/porter">Bruce Porter</a></li>
                <li><a href="http://www.cs.bgu.ac.il/~rachel">Rachel Ben-Eliyahu</a></li>
                <li><a href="http://www.ing.unibs.it/~gerevini/">Alfonso Gerevini</a></li>
                <li><a href="http://www.cs.strath.ac.uk/biography/pat/">Patrick Prosser</a></li>
                <li><a href="http://www.informatik.uni-ulm.de/ki/biundo.html">Susanne Biundo</a></li>
                <li><a href="http://www.cirl.uoregon.edu/ginsberg">Matthew Ginsberg</a></li>
                <li><a href="http://www.eng.tau.ac.il/~danar">Dana Ron</a></li>
                <li><a href="http://www.cs.cmu.edu/~avrim/">Avrim Blum</a></li>
                <li><a href="http://www.cs.colostate.edu/~howe">Adele Howe</a></li>
                <li><a href="http://www.cs.cmu.edu/~sandholm">Tuomas Sandholm</a></li>
                <li><a href="http://www.dsv.su.se/~henke/">Henrik Bostršm</a></li>
                <li><a href="http://www.cs.umass.edu/~jensen">David Jensen</a></li>
                <li><a href="http://www.cs.uwaterloo.ca/~dale">Dale Schuurmans</a></li>
                <li><a href="http://www.cs.bgu.ac.il/~brafman">Ronen Brafman</a></li>
                <li><a href="http://www.ida.liu.se/~petej">Peter Jonsson</a></li>
                <li><a href="http://robotics.stanford.edu/~shoham">Yoav Shoham</a></li>
                <li><a href="http://mow.ecn.purdue.edu/~brodley/">Carla Brodley</a></li>
                <li>Lefteris Kirousis</li>
                <li><a href="http://www.cs.orst.edu/~tadepall">Prasad Tadepalli</a></li>
                <li><a href="http://www.cs.utsa.edu/~bylander/">Tom Bylander</a></li>
                <li><a href="http://www.isi.edu/~knight">Kevin Knight</a></li>
                <li><a href="http://www.isi.edu/soar/tambe">Milind Tambe</a></li>
                <li><a href="http://www.research.whizbang.com/~wcohen">William Cohen</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~koehler/">Jana Koehler</a></li>
                <li><a href="http://www.cs.cmu.edu/~thrun/">Sebastian Thrun</a></li>
                <li><a href="http://www.cs.cmu.edu/~fgcozman/home.html">Fabio Cozman</a></li>
                <li><a href="http://www.cc.gatech.edu/fac/Sven.Koenig/">Sven Koenig</a></li>
                <li><a href="http://www.cs.cmu.edu/~mmv/">Manuela Veloso</a></li>
                <li><a href="http://web.cs.ualberta.ca/~joe/">Joe Culberson</a></li>
                <li><a href="http://www-i5.informatik.rwth-aachen.de/gerhard/">Gerhard Lakemeyer</a></li>
                <li><a href="http://dream.dai.ed.ac.uk/group/tw/">Toby Walsh</a></li>
                <li><a href="http://www.cs.orst.edu/~dambrosi">Bruce D'Ambrosio</a></li>
                <li><a href="http://www-ai.ijs.si/NadaLavrac/">Nada Lavrac</a></li>
                <li><a href="http://www.cs.colostate.edu/~whitley">Darrell Whitley</a></li>
                <li><a href="http://www.cs.ucla.edu/~darwiche">Adnan Darwiche</a></li>
                <li><a href="http://www.dis.uniroma1.it/~lenzerini">Maurizio Lenzerini</a></li>
                <li><a href="http://www.cs.waikato.ac.nz/~ihw">Ian Witten</a></li>
                <li><a href="http://www.cs.washington.edu/homes/pedrod">Pedro Domingos</a></li>
                <li><a href="http://www.daviddlewis.com">David Lewis</a></li>
                <li><a href="http://ic.arc.nasa.gov/ic/projects/bayes-group/people/dhw">David Wolpert</a></li>
                <li><a href="http://www.cs.unm.edu/~forrest/">Stephanie Forrest</a></li>
                <li><a href="http://www.santafe.edu/~mm">Melanie Mitchell</a></li>
                <li><a href="http://www.kecl.ntt.co.jp/csl/msrg/members/yokoo/">Makoto Yokoo</a></li>
                <li><a href="http://www.dur.ac.uk/CompSci/personnel/dcs0mf.html">Maria Fox</a></li>
                <li><a href="http://www.cee.hw.ac.uk/~nutt">Werner Nutt</a></li>
                <li><a href="http://www.cs.ust.hk/~lzhang">Nevin Zhang</a></li>
                <li><a href="http://www.cs.duke.edu/~parr">Ronald Parr</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Advisory Board</h2>
            <ul class="twocolumns">
                <li><a href="http://www.cs.toronto.edu/~cebly/">Craig Boutilier</a></li>
                <li><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a></li>
                <li><a href="http://www.cse.unsw.edu.au/~quinlan/">Ross Quinlan</a></li>
                <li><a href="http://www.research.whizbang.com/~wcohen">William Cohen</a></li>
                <li><a href="http://www.cs.cmu.edu/~awm/hp.html">Andrew Moore</a></li>
                <li><a href="http://www.cs.berkeley.edu/~russell">Stuart Russell</a></li>
                <li><a href="http://www.cs.brown.edu/people/tld/home.html">Thomas Dean</a></li>
                <li><a href="http://www.cogsci.ed.ac.uk/~jmoore/">Johanna Moore</a></li>
                <li><a href="http://www.cs.cornell.edu/home/selman/">Bart Selman</a></li>
                <li><a href="http://www.cs.rutgers.edu/~hirsh/index.html">Haym Hirsh</a></li>
                <li><a href="http://ic-www.arc.nasa.gov/ic/projects/mba/people/nayak.html">Pandurang Nayak</a></li>
                <li><a href="http://www-anw.cs.umass.edu/~rich/sutton.html">Richard Sutton</a></li>
                <li><a href="http://porsche.uchsc.edu/pharm/faculty/Hunter.asp">Lawrence Hunter</a></li>
                <li><a href="http://www.informatik.uni-freiburg.de/~nebel">Bernhard Nebel</a></li>
                <li><a href="http://www.info.ucl.ac.be/people/pvh/home.html">Pascal van Hentenryck</a></li>
                <li><a href="http://www.research.att.com/~dmac">David McAllester</a></li>
                <li><a href="http://ai.eecs.umich.edu/people/wellman">Michael Wellman</a></li>
            </ul>
            <div class="doorstop">
                <!-- holding the div open -->
            </div>
        </div>
        <div>
            <h2>Managing Editor:</h2><a href="http://www.isi.edu/sims/minton/homepage.html">Steven Minton</a>
        </div>
        <div>
            <h2>Advanced Information Tools Coordinator:</h2><a href="http://ai.iit.nrc.ca/staff/peter.html">Peter Turney</a>
        </div>
        <div>
            <h2>Special Projects:</h2><a href="http://ai.eecs.umich.edu/people/wellman">Michael Wellman</a>
        </div>
        <div>
            <h2>Production Supervisor:</h2> Dolores Bolsenga
        </div>
</div>