<h1>PROJAS Volume 2 Masthead</h1>
    <h2>EXECUTIVE EDITOR</h2>
    <pre>
   Steven Minton, <em>NASA Ames Res. Center </em>
</pre>
    <h2>ASSOCIATE EDITORS</h2>
    <pre>
   William Cohen, <em>AT&amp;T Bell Laboratories</em>
   Jon Doyle, <em>MIT</em>
   Fausto Giunchiglia, <em>IRST</em>
   Henry Kautz, <em>AT&amp;T Bell Laboratories</em>
   Richard Korf, <em>UCLA</em>
   Lawrence Hunter, <em>National Library of Medicine</em>
   Wendy Lehnert, <em>Univ. of Mass.</em>
   David McAllester, <em>MIT</em>
   Richard Sutton, <em>GTE Laboratories</em>
   Daniel Weld, <em>Univ. of Wash.</em>
</pre>
    <h2>EDITORIAL BOARD</h2>
    <pre>
   Jan Aikins, <em>Xerox PARC</em>
   James F. Allen, <em>Univ. of Rochester</em>
   Yuichiro Anzai, <em>Keio Univ.</em>
   Andrew G. Barto, <em>Univ. of Mass.</em>
   Ivan Bratko, <em>Ljubljana Univ. </em>
   Gerhard Brewka, <em> Tech. Univ. of Vienna </em>
   Rodney Brooks, <em>MIT</em>
   Wray Buntine, <em>NASA Ames Res. Center </em>
   Murray Campbell, <em>IBM</em>
   Adnan Darwiche, <em> Rockwell </em>
   Thomas Dean, <em>Brown Univ.</em>
   Rina Dechter, <em>UC Irvine</em>
   Gerald DeJong, <em>Univ. of Illinois</em>
   Johan de Kleer, <em>Xerox PARC</em>
   Bonnie J. Dorr, <em>Univ. of Maryland</em>
   Didier Dubois, <em>Univ. Paul Sabatier</em>
   Edmund Durfee, <em>Univ. of Michigan</em>
   David W. Etherington, <em>CIRL, Univ. of Oregon</em>
   Oren Etzioni, <em>Univ. of Washington</em>
   Douglas Fisher, <em>Vanderbilt Univ.</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Michael Georgeff, <em>Australian AI Institute</em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Walter Hamscher, <em>Price Waterhouse</em>
   Steve Hanks, <em>Univ. of Washington</em>
   David Haussler, <em>UC Santa Cruz</em>
   Barbara Hayes-Roth, <em>Stanford University</em>
   Julia Hirschberg, <em>AT&amp;T Bell Laboratories</em>
   Haym Hirsh, <em>Rutgers Univ.</em>
   Toru Ishida, <em>Kyoto Univ.</em>
   Leslie Pack Kaelbling, <em>Brown Univ.</em>
   Subbarao Kambhampati, <em>Arizona State Univ.</em>
   Takeo Kanade, <em>Carnegie Mellon Univ.</em>
   Hiroaki Kitano, <em>Sony Computer Sci. Laboratories</em>
   Craig A. Knoblock, <em>USC/ISI</em>
   Kurt Konolige, <em>SRI</em>
   Benjamin Kuipers, <em>Univ. of Texas at Austin</em>
   Pat Langley, <em>ISLE and Stanford Univ.</em>
   Wendy Lehnert, <em>Univ. of Mass.</em>
   Ramon Lopez de Mantaras, <em>CSIC</em>
   Alan Mackworth, <em>Univ. of British Columbia</em>
   Kathleen McKeown, <em>Columbia Univ.</em>
   Raymond J. Mooney, <em>Univ. of Texas at Austin</em>
   Johanna D. Moore, <em>Univ. of Pittsburgh</em>
   Stephen Muggleton, <em>Oxford Univ.</em>
   Hideyuki Nakashima, <em>Electrotechnical Laboratories</em>
   Bernhard Nebel, <em>Universitaet Ulm</em>
   Nils Nilsson, <em>Stanford Univ.</em>
   Toyoaki Nishida, <em>Kyoto Univ.</em>
   Christos Papadimitriou, <em>UC San Diego</em>
   Michael Pazzani, <em>UC Irvine</em>
   Judea Pearl, <em>UCLA</em>
   Tomaso Poggio, <em>MIT</em>
   Martha Pollack, <em>Univ. of Pittsburgh</em>
   Ross Quinlan, <em>Univ. of Sydney</em>
   Edwina L. Rissland, <em>Univ. of Mass.</em>
   Paul Rosenbloom, <em>USC/ISI</em>
   Stuart Russell, <em>UC Berkeley</em>
   Erik Sandewall, <em>Univ.</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
   Jude W. Shavlik, <em>Univ. of Wisconsin</em>
   Stuart Shieber, <em>Harvard Univ.</em>
   Douglas R. Smith, <em>Kestrel Institute</em>
   Luc Steels, <em>Univ. of Brussels</em>
   Anthony Stentz, <em>Carnegie Mellon Univ.</em>
   Peter Struss, <em>Technical Univ. of Munich</em>
   William Swartout, <em>USC/ISI</em>
   Hozumi Tanaka, <em>Tokyo Institute of Technology</em>
   Austin Tate, <em>AIAI, Edinburgh Univ.</em>
   David Touretzky, <em>Carnegie Mellon Univ.</em>
   Pascal van Hentenryck, <em>Brown Univ.</em>
   Michael Wellman, <em>Univ. of Michigan</em>
</pre>
    <h2>ADVISORY BOARD</h2>
    <pre>
   Jaime Carbonell, <em> Carnegie Mellon Univ.</em>
   Thomas Dietterich, <em>Oregon State</em>
   Oren Etzioni, <em>Univ. of Washington</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Peter Friedland, <em>NASA Ames Res. Center </em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Paul Rosenbloom, <em>USC/ISI</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
</pre>
    <h2>ADVANCED INFORMATION SYSTEMS COORDINATOR</h2>
    <pre>
   Peter Turney, <em>National Research Council Canada </em>
</pre>
    <h2>PRODUCTION SUPERVISORS</h2>
    <pre>
   Martha Del Alto, <em>NASA Ames Research Center </em>
   Helen Stewart, <em>NASA Ames Research Center </em>
</pre>