<h1>PROJAS Volume 1 Masthead</h1>
    <h2>EXECUTIVE EDITOR</h2>
    <pre>
   Steven Minton, <em>NASA Ames Research Center</em>
</pre>
    <h2>ASSOCIATE EDITORS</h2>
    <pre>
   Jon Doyle, <em>MIT</em>
   Fausto Giunchiglia, <em>IRST</em>
   Henry Kautz, <em>AT&amp;T Bell Laboratories</em>
   Richard Korf, <em>UCLA</em>
   Wendy Lehnert, <em>Univ. of Mass.</em>
   Richard Sutton, <em>GTE Laboratories</em>
   Daniel Weld, <em>Univ. of Wash.</em>
</pre>
    <h2>EDITORIAL BOARD</h2>
<pre>
   Jan Aikins, <em>Trinzic Corp.</em>
   Yuichiro Anzai, <em>Keio Univ.</em>
   Rodney Brooks, <em>MIT</em>
   Murray Campbell, <em>IBM</em>
   Thomas Dean, <em>Brown Univ.</em>
   Rina Dechter, <em>UC Irvine</em>
   Gerald DeJong, <em>Univ. of Illinois</em>
   Johan de Kleer, <em>Xerox PARC</em>
   Didier Dubois, <em>Univ. Paul Sabatier</em>
   Edmund Durfee, <em>Univ. of Michigan</em>
   David Etherington, <em>CIRL, Univ. of Oregon</em>
   Oren Etzioni, <em>Univ. of Washington</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Michael Georgeff, <em>Australian AI Institute</em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Walter Hamscher, <em>Price Waterhouse</em>
   David Haussler, <em>UC Santa Cruz</em>
   Julia Hirschberg, <em>AT&amp;T Bell Laboratories</em>
   Lawrence Hunter, <em>National Library of Medicine</em>
   Takeo Kanade, <em>Carnegie Mellon Univ.</em>
   Hiroaki Kitano, <em>Sony Computer Science Laboratories</em>
   Pat Langley, <em>ISLE and Stanford Univ.</em>
   Ramon Lopez de Mantaras, <em>CSIC</em>
   David McAllester, <em>MIT</em>
   Kathleen McKeown, <em>Columbia Univ.</em>
   Stephen Muggleton, <em>Oxford Univ.</em>
   Hideyuki Nakashima, <em>Electrotechnical Laboratories</em>
   Nils Nilsson, <em>Stanford Univ.</em>
   Toyoaki Nishida, <em>Kyoto Univ.</em>
   Christos Papadimitriou, <em>UC San Diego</em>
   Judea Pearl, <em>UCLA</em>
   Tomaso Poggio, <em>MIT</em>
   Martha Pollack, <em>Univ. of Pittsburgh</em>
   Ross Quinlan, <em>Univ. of Sydney</em>
   Edwina Rissland, <em>Univ. of Mass.</em>
   Paul Rosenbloom, <em>ISI, USC</em>
   Stuart Russell, <em>UC Berkeley</em>
   Erik Sandewall, <em>Univ.</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
   Stuart Shieber, <em>Harvard Univ.</em>
   Douglas Smith, <em>Kestrel Institute</em>
   Luc Steels, <em>Univ. of Brussels</em>
   Anthony Stentz, <em>Carnegie Mellon Univ.</em>
   Peter Struss, <em>Technical Univ. of Munich</em>
   Hozumi Tanaka, <em>Tokyo Institute of Technology</em>
   Austin Tate, <em>AIAI, Edinburgh Univ.</em>
   David Touretzky, <em>Carnegie Mellon Univ.</em>
   Michael Wellman, <em>Univ. of Michigan</em>
</pre>
    <h2>ADVISORY BOARD</h2>
    <pre>
   Jaime Carbonell, Carnegie Mellon Univ.
   Thomas Dietterich, <em>Oregon State</em>
   Oren Etzioni, <em>Univ. of Washington</em>
   Kenneth Forbus, <em>ILS, Northwestern Univ.</em>
   Peter Friedland, <em>NASA Ames Research Center </em>
   Matthew Ginsberg, <em>CIRL, Univ. of Oregon</em>
   Paul Rosenbloom, <em>ISI, USC</em>
   Bart Selman, <em>AT&amp;T Bell Laboratories</em>
</pre>
    <h2>PRODUCTION SUPERVISORS</h2>
    <pre>
   Martha Del Alto, <em>NASA Ames Research Center </em>
   Helen Stewart, <em>NASA Ames Research Center </em>
</pre>