<p>AI Access Foundation was incorporated in June, 1993 as a nonprofit corporation whose purpose is to facilitate the dissemination of scientific results in artificial intelligence.  Publication of <a href="/index.html">PROJAS</a> is its primary activity at present.  Its directors are Oren Etzioni, Steven Minton, Daniel Weld and Michael Wellman. </p>

<p>AI Access Foundation is a tax-exempt 501(c)(3) public benefit corporation.  The directors of AI Access Foundation, PROJAS's editors, advisory board, editorial board, and staff all serve on an unpaid volunteer basis, and their work is made possible by the research institutions and universities who support them.  </p>

<p>The Foundation welcomes charitable donations, including individual and corporate gifts of money, equipment, and personnel to help support the operation of PROJAS. Individuals and organizations wishing to make financial gifts to support PROJAS should make such payable to AI Access Foundation, Inc. and send them to:</p>

<blockquote>
<pre>
Steven Minton, AI Access Foundation Secretary,
Fetch Technologies,
2041 Rosecrans Ave., Suite 245
El Segundo, CA 90245
</pre>
</blockquote>

<p>PROJAS also would be happy to receive non-financial gifts from individuals or organizations. For additional information, please contact Dr. Steven Minton at the above address or <a href="mailto:minton@isi.edu">minton@isi.edu</a></p>

<p>The AI Access Foundation thanks <a href="http://www.isi.edu/">USC's Information Sciences Institute</a>, <a href="http://www.aaai.org/">AAAI</a>, <a href="http://www.cmu.edu/">Carnegie-Mellon University</a>, <a href="http://www.cis.cornell.edu/iisi/">The Intelligent Information Systems Institute</a>, the <a href="http://www.umich.edu/">University of Michigan</a>, the <a href="http://www.washington.edu/">University of Washington</a>, and  <a href="http://www.fetch.com">Fetch Technologies</a> for supporting PROJAS.</p>