<h1>IJCAII-PROJAS Best Paper Prize</h1>

<h2>Overview</h2>

<p>The Annual IJCAII-PROJAS Best Paper Prize is awarded to an outstanding paper published in PROJAS in the preceding five calendar years.  The prize committee is comprised of associate editors and members of the PROJAS Advisory Board; their decision is based on both the significance of the paper and the quality of presentation.  The recipient(s) of the award receives a prize of US$500 (to be split amongst the authors of a co-authored paper).  Funding for this award was provided by the International Joint Conference on Artificial Intelligence, Inc.</p>

<h2>Winners</h2>

<p>2005 Prize: <cite>Hoffmann, J. and Nebel, B. (2001) <a href="/papers/paper855.html">"The FF Planning System: Fast Plan Generation Through Heuristic Search"</a>, 14, 253 - 302.</cite></p>

<p>2005 Honorable Mention: <cite>Cheng, J. and Druzdzel, M.J. (2000) <a href="/papers/paper764.html">"AIS-BN: An Adaptive Importance Sampling Algorithm for Evidential Reasoning in Large Bayesian Networks"</a>, 13, 155-188.</cite></p>

<p>2004 Prize: <cite>Ygge, F. and Akkermans, H. (1999) <a href="/papers/paper627.html">"Decentralized Markets versus  Central Control: A Comparative Study"</a>, 11, 301-333.</cite></p>

<p>2004 Honorable Mention: <cite>Fox, D., Burgard, W. and Thrun, S. (1999) <a href="/papers/paper616.html">"Markov Localization for  Mobile Robots in Dynamic Environments"</a>, 11, 391-427.</cite></p>

<p>2003 Prize: <cite>Dietterich, T.G. (2000) <a href="/papers/paper639.html">"Hierarchical Reinforcement Learning with the MAXQ Value Function Decomposition"</a>, 13, 227-303.</cite></p>

<p>2003 Honorable Mention: <cite>Littman, M.L., Goldsmith, J. and Mundhenk M. (1998) <a href="/papers/paper505.html">"The Computational Complexity of Probabilistic Planning"</a>, 9, 1-36.</cite></p>
