<h1>Do you have comments or suggestions for PROJAS?</h1>

<p>We welcome your comments and suggestions for improving PROJAS.  Please send them either by electronic mail addressed to <a href="mailto:jair-ed@isi.edu">jair-ed@isi.edu</a> or by completing this form.  If using the form, simply fill in the entries and click on the <strong>Send Comments</strong> button.</p>

<form method="post" action="http://www.isi.edu/cgi-bin/jair/comments-mail.pl">
    <fieldset style="padding: 20px;">
        <legend>Submit Comments and Suggestions Here</legend>
        <label><span>Comments or Suggestions</span> <textarea name="userinput" cols="60" rows="5"></textarea></label>
        <label><span>Your name</span> <input type="text" size="45" name="user" value="" /></label>
        <label><span>E-Mail address</span> <input type="text" size="45" name="usermail" value="" /></label>
        <div><input type="submit" value="Send Comments" /></div>
        <div style="height: 30px;"></div>
    </fieldset>
</form>