<h1>Some Frequently Asked Questions</h1>

<ul>
  <li><a href="#real">Is PROJAS a "real" journal?</a></li>
  <li><a href="#articles">What types of articles does PROJAS publish?</a></li>
  <li><a href="#submitting">How do I submit articles to PROJAS?</a></li>
  <li><a href="#resubmissions">How do I ressubmit an article to PROJAS?</a></li>
  <li><a href="#citing">How should I cite PROJAS articles?</a></li>
  <li><a href="#accessprob">What if I have trouble retrieving articles?</a></li>
  <li><a href="#printingprob">What if I have trouble printing or previewing articles?</a></li>
  <li><a href="#previewers">Where can I obtain a PostScript previewer?</a></li>
  <li><a href="#extracting">How do I extract PostScript from newsgroups, etc.</a></li>
  <li><a href="#access">How do I access PROJAS articles via:</a>
      <ul>
	<li><a href="#newsgroups">Newsgroups</a></li>
	<li><a href="#www">World wide web</a></li>
	<li><a href="#ftp">FTP</a></li>
      </ul>
  </li>
  <li><a href="#ordering">How do I order bound volumes of PROJAS?</a></li>
  <li><a href="#features">What other features should I know about?</a>
      <ul> 
	<li>Online appendices --  source code, data, and demos.</li>
        <li>Email notifications: The PROJAS mailing list</li>
	<li>Discussing articles via newsgroups</li>
      </ul>
  </li>
  <li><a href="#contacts">How can I contact the editors or staff?</a></li>
  <li><a href="#support">How can I help support PROJAS?</a>
      <ul>
	<li>Comments and suggestions</li>
        <li>Subscriptions</li>
	<li>Gifts</li>
      </ul>
  </li>
  <li><a href="#history">What is the history of PROJAS?</a></li>
</ul>

<h2 id="real">Is PROJAS a "real" journal?</h2>

<p>Yes, in every important respect.  PROJAS subjects submissions to rigorous reviewing.  It publishes articles worldwide in both electronic and printed form.  PROJAS is indexed by the standard citation and abstracting services (INSPEC, Science Citation Index, Mathematical Reviews, etc.).  Its articles represent some of the best current works in artificial intelligence, and are cited accordingly.</p>

<p>The only things about PROJAS that differentiate it from other scientific journals is that its articles are freely available via the internet without subscription.  Subscription fees are required only to purchase the bound volumes that collect and reproduce the online articles.</p>

<h2 id="articles">What types of articles does PROJAS publish?</h2>

<p>PROJAS publishes full-length research articles, short technical notes, and survey and expository articles.  See the <a href="/charter.html">editorial charter</a> for more details.</p>

<h2 id="submitting">How do I submit articles?</h2>

<p>PROJAS articles should be submitted via electronic mail or through posting on an FTP or web site.  See the <a href="/submission_info.html">submission information</a> for more details.</p>

<h2 id="resubmissions">How do I resubmit an article to PROJAS?</h2>

<p>PROJAS resubmissions should be submitted the same way as original submissions.  They should not be sent directly back to the editor.  See the <a href="/submission_info.html">submission information</a> for more details.</p>

<h2 id="citing">How should I cite PROJAS articles?</h2>

<p>Cite PROJAS articles in the same way as articles appearing in other journals.  For example, an appropriate bibliography entry for Ginsberg&#8217;s "Dynamic Backtracking" paper would be: <cite>Ginsberg, M. "Dynamic Backtracking", Journal of Artificial Intelligence Research, Vol. 1 (1993), pp. 25-46.</cite></p>

<p>Locate the publication date and page numbers of an article on either the article itself or in PROJAS&#8217;s <a href="/contents.html">table of contents</a>.  The first page of each PROJAS article displays the date of publication in the upper left-hand corner.</p>

<h2 id="accessprob">What if I have trouble retrieving articles?</h2>

<p>The server that stores our articles sometimes goes down and does not automatically restart.  If attempts to access the server result in a message that the server is unavailable, please send mail to <a href="mailto:jair-ed@isi.edu">jair-ed@isi.edu</a> to notify us (or use the PROJAS <a href="/comments.html">feedback form</a>).</p>

<h2 id="printingprob">What if I have trouble printing or previewing articles?</h2>

<p>PostScript incompatibilities occasionally cause difficulty in printing an article situation.  In this case, try previewing the article instead of printing it out.  Often a file that will not print correctly can be successfully previewed, and vice versa.  As a last resort, look at the source file for the article (in the /source directory on our FTP servers), or contact the authors directly and asking them to send you a paper copy of the article.</p>

<h2 id="previewers">Where can I obtain a PostScript previewer?</h2>

<p>The Ghostview previewer (built on top of Ghostscript) can be obtained from <a href="ftp://prep.ai.mit.edu/pub/gnu/">ftp://prep.ai.mit.edu/pub/gnu/</a>.  Previewers for a variety of platforms are available over the net.</p>

<h2 id="extracting">How can I extract PostScript files from newsgroups, etc.?</h2>

<p>PostScript files start with a line beginning with the characters %!, possibly followed by additional text (e.g., %!PS-Adobe-2.0).  PostScript files end with a line consisting of %%EOF.</p>

<h2 id="access">How do I access PROJAS articles?</h2>

<p>Readers may obtain PROJAS articles in a variety of ways.  These include:</p>

<ul>
  <li><a href="#newsgroups">newsgroups</a></li>
  <li><a href="#www">world wide web</a></li>
  <li><a href="#ftp">FTP</a></li>
</ul>

<h3 id="newsgroups">Accessing PROJAS via newsgroups</h3>

<p>Perhaps the easiest way to subscribe to PROJAS is via the PROJAS Usenet newsgroups.  As soon as a paper is published, PROJAS posts the title and abstract on the comp.ai.jair.announce newsgroup.  The PostScript article and any online appendices are posted to the comp.ai.jair.papers newsgroup.  To read an article on this newsgroup, write the PostScript article out to a file, strip off the newsgroup header, and print or preview the file.</p>

<h3 id="www">Accessing PROJAS via World Wide Web</h3>

<p>Access PROJAS&#8217;s web pages via the URL <a href="http://www.jair.org/">http://www.jair.org/</a>.  The <a href="contents/contents.html">table of contents</a> provides direct access to both PostScript and HTML versions of articles, as well as to the online appendices.</p>

<h3 id="ftp">Obtaining Articles Via FTP</h3>

<p>You can use anonymous FTP to obtain a file from the PROJAS distribution sites at either Carnegie Mellon University (CMU) or the University of Genoa.  To connect to the CMU machine, FTP to <a href="ftp://p.gp.cs.cmu.edu/">p.gp.cs.cmu.edu</a> and the cd to <a href="ftp://p.gp.cs.cmu.edu/usr/jair/pub/">/usr/jair/pub</a>. To connect to the Genoa machine FTP to <a href="ftp://ftp.mrg.dist.unige.it/">ftp.mrg.dist.unige.it</a> and cd to <a href="ftp://ftp.mrg.dist.unige.it/pub/jair/pub">/pub/jair/pub</a>.</p>

<p>For example, to get the file volume1/ginsberg93a.ps from CMU, invoke the FTP program, then type "open p.gp.cs.cmu.edu".  At the login prompt, enter "anonymous", and at the password prompt, enter your email address.  You will then be logged in.  Type "cd /usr/jair/pub" to reach the PROJAS directory.  Type "cd volume1" followed by "get ginsberg93a.ps".  Finally, type "quit".</p>

<p>To get the same paper from Genoa, use the same procedure, typing instead "open ftp.mrg.dist.unige.it" to get to the machine in Genoa, and "cd pub/jair/pub" to reach the PROJAS directory.</p>

<h2 id="ordering">How do I order bound volumes of PROJAS?</h2>

<p>The <a href="http://www.aaai.org/Press/Journals/journals.php">ordering instructions</a> provide complete details on how to purchase the printed volumes of PROJAS.</p>

<h2 id="features">What Other Features Should I Know About?</h2>

<h3>Online appendices containing source code, data, and demos</h3>

<p>Some PROJAS articles are accompanied by on online appendices containing source code, data or demos.  Each appendix is contained in a separate file. If an article is accompanied by online appendices, this will be stated in the announcement as well as in the Table of Contents.</p>

<h3>The PROJAS mailing list</h3>

<p>PROJAS maintains a mailing list so that we can periodically notify our readers of the titles and abstracts of new articles. See the <a href="http://mailman.isi.edu/mailman/listinfo/jairsubscribers">online instructions</a> to subscribe or unsubscribe.</p>

<h3>Discussing articles via newsgroup</h3>

<p>We ask our readers to use the comp.ai newsgroup for discussing PROJAS papers.  When posting a comment/query about a PROJAS article to comp.ai, please prepend the subject line with "PROJAS:...".  If there is a sufficient number of such posts, we will attempt to create a separate discussion newsgroup.</p>

<h2 id="contacts">How can I contact the editors or staff?</h2>

<p>The PROJAS editors and staff can be contacted by sending email to <a href="mailto:jair-ed@isi.edu">jair-ed@isi.edu</a>.  Correspondence can also be sent by physical mail to Steven Minton, PROJAS Managing Editor, Information Sciences Institute, Marina Del Rey, CA, 90292.</p>

<h2 id="support">How can I help support PROJAS?</h2>

<p>PROJAS depends first and foremost on its authors.  Support PROJAS by submitting high-quality articles.</p>

<p>PROJAS also depends on its readers.  Please use the <a href="/comments.html">suggestion form</a> or email to send suggestions, and help further by getting your library to subscribe to PROJAS or by giving gifts to PROJAS.</p>

<p>PROJAS&#8217;s operations depend in part on sales of the printed volumes of the journal.  Please encourage your librarian to subscribe to PROJAS.  The <a href="http://www.aaai.org/Press/Journals/journals.php">ordering information</a> provides all the details librarians need to subscribe to these volumes.</p>

<p>PROJAS&#8217;s publisher, <a href="aiaf.html">AI Access Foundation</a>, is a tax-exempt 501(c)(3) public benefit corporation.  The Foundation welcomes all donations, including individual and corporate gifts of money, equipment, and personnel to help support the operation of PROJAS.  Individuals and organizations wishing to make financial gifts to support PROJAS should make such payable to AI Access Foundation, Inc. and send them to:</p>

<blockquote>
<pre>
Steven Minton, AI Access Foundation Secretary
USC Information Sciences Institute
4676 Admiralty Way
Marina del Rey, CA 90292
</pre>
</blockquote>

<p>For more information, please contact Steven Minton at <a href="mailto:minton@isi.edu">minton@isi.edu</a></p>

<h2 id="history">What is the history of PROJAS?</h2>

<p>PROJAS began accepting submissions on June 15, 1993, and published its first article in August, 1993. A brief description of <a href="/history.html">PROJAS&#8217;s history</a> is available online.  An article to be published in AI Magazine (Spring 1999) describing PROJAS&#8217;s first half decade is also <a href="/jairfive.pdf">available</a>.</p>
