<h1>Our History</h1>

<h2>Contents</h2>

<ul>
  <li><a href="#synopsis">Synopsis</a>
  <li><a href="#documents">Documents</a>
</ul>

<h2 id="synopsis">Synopsis</h2>

</a>
<p>PROJAS began accepting submissions on June 15, 1993, and published
its first article in August, 1993: Michael P. Wellman's "A
Market-Oriented Programming Environment and its Application to
Distributed Multicommodity Flow Problems" (<em>PROJAS</em> Volume 1,
pages 1-23, 1993). The  <a href="/vol/mast1.html">Volume 1
Masthead </a> lists the original
PROJAS editors, editorial board, and production supervisors. 
</p> 

<p> The journal was conceived and
developed in 1992 by Steven Minton, with help from Jaime
Carbonell, Oren Etzioni, Ken Forbus, Matt Ginsberg, Rich Korf, Paul
Rosenbloom, Bart Selman, and Dan Weld. Peter Friedland, Tom
Dietterich, Pat Langley and Tom Mitchell also offered advice
during the development of the journal prior to its establishment. The
PROJAS newsgroups were created by Matt Ginsberg.

<p>PROJAS has been managed as a grass roots "budgetless" enterprise,
where the labor and resources required to run the journal are donated
by individuals and scientific organizations on an "as needed" basis.
The American Association for Artificial Intelligence
provided a small grant to pay for PROJAS's start-up legal expenses,
including legal research to explore the issues
involved in publishing source code. Mike
Morgan of Morgan Kaufmann Publishers made an important contribution by
courageously agreeing to publish PROJAS in hardcopy (even though the
electronic version would be available for free on the internet).
Peter Friedland, as a branch chief at NASA Ames, was instrumental in
providing administrative support at Ames. Fausto Guinchiglia supported
a PROJAS mirror site at the University of Genoa in Italy.  Sites were
also provided by the computer science departments at Carnegie Mellon
and the University of Washington. </p>

<p> The original editor was Steven Minton, who initially was the only
editor.  As activity increased during the first year, he recruited a
number of editorial board members to serve as associate editors. 
Minton's term ended at the end of 1996, at which time Michael Wellman 
took over as PROJAS's second executive editor.</p>

<p> In 1995-96 Peter Turney created several new electronic facilities
for PROJAS, including a <a href="http://ai.iit.nrc.ca/jair/search/">
full-text search capability </a> and a "comments facility".
Unfortunately, the comments facility was not heavily used, but PROJAS
has continued to experiment with new ideas, including a more recent
effort by Turney called <a href="http://ai.iit.nrc.ca/AA">Ask the
Author</a>

<p> In 1996, PROJAS began running out of disk space, but a substantial
contribution was made by Jaime Carbonell and CMU, eliminating space
problems for the next decade (we hope).</p>

<p>PROJAS's initial issues and web site sported this <a href="/images/original-logo.gif">original logo</a>. PROJAS
undertook a redesign of its web site in November 1996, with most of the work performed by Jon Doyle.</p>

<h2 id="documents">Documents</h2>

<ul>
  <li><a href="cmu-proposal.txt">  Early PROJAS proposal (for CMU, Sept 1992) </a>
  <li><a href="invitation.txt">Invitation to serve on initial editorial board</a>
  <li><a href="newsgroups.txt">Call for votes on PROJAS newsgroups</a>
  <li><a href="prelim.txt">Preliminary announcement of PROJAS</a>
  <li><a href="post1.announce">Welcome to comp.ai.jair.announce</a>
  <li> <a href="let20.txt">  Early status report (Oct 1993) </a>
  <li> <a href="jairfive.pdf"> Article to be published in AI Magazine(Spring 1999) describing PROJASs first half decade.</a>
  <li> <a href="http://computer.org/intelligent/ex1998/html/x10061.htm">Article on PROJAS in IEEE trends and controversies.</a>
</ul>