<h1>Recent Announcements</h1>

<h2>Special Track</h2>

<p>
We are pleased to announce that we will be publishing 
a series of papers on the 4th International Planning Competition (IPC-4).  In keeping with the spirit of PROJAS, papers in the Special Track will announced as they are published, over the course of several months. A full listing of the paper in the special track can be found <a href="/specialtrack.html">here.</a>
</p>

<h2>Thanks</h2>

<p>AI Access Foundation thanks <a href="http://www.fetch.com">Fetch 
Technologies</a>, <a 
href="http://www.google.com">Google</a>, and the 
<a href="http://www.cis.cornell.edu/iisi/">Intelligent Information Systems Institute</a> for their contributions supporting PROJAS. These gifts make it possible for PROJAS to continue improving our infrastructure for operating a freely-available journal.</p>
<div style="height: 150px;"></div>
