<h1>Links to AI starting points on the web</h1>

<p>Below you will find links to some other internet services on the web.  Each of these services maintains a large collection of pointers to various AI resources on the Web. Enjoy!</p>

<dl style="padding-left: 20px;">
  <dt><a href="http://www.aaai.org/">AAAI</a></dt>
  <dd>An electronic service maintained by the American Association for Artificial Intelligence.</dd>
  <dt><a href="http://sigart.acm.org/">ACM SIGART</a></dt>
  <dd>An electronic service maintained by the Association of Computing Machinery's Special Interest Group on AI.</dd>
  <dt><a href="http://www.cs.berkeley.edu/~russell/ai.html">AI on the Web</a></dt>
  <dd>A list of various AI resources on the web, with links, maintained by Stuart Russell.</dd>
  <dt><a href="http://www.yahoo.com/Science/Computer_Science/Artificial_Intelligence/">Yahoo Catalog of AI Resources</a></dt>
  <dd>Another catalog of AI resources on the net. There is a section on <a href="http://www.yahoo.com/Science/Computer_Science/Artificial_Intelligence/Journals/">AI Journals</a>.</dd>
</dl>

<h1>Links to other AI publications and publishers on the web</h1>

<dl style="padding-left: 20px;">
  <dt><a href="http://www.aaai.org/Press/press.html">AAAI Press</a></dt>
  <dd>Publisher of the PROJAS bound volumes. AAAI Press also publishes books on AI-related topics.</dd>
  <dt><a href="http://www.jmlr.org/">The Journal of Machine Learning Research</a></dt>
  <dd>The Journal of Machine Learning Research (JMLR) provides an international forum for the electronic and paper publication of high-quality scholarly articles in all areas of machine learning. Free on the web!</dd>
  <dt><a href="http://www.etaij.org/">Electronic Transactions on Artificial Intelligence (ETAI)</a></dt>
  <dd>A new type of web publication covering AI.</dd>
  <dt><a href="http://www.computer.org/pubs/expert/expert.htm">IEEE Expert</a></dt>
  <dd>Focuses on expert systems. Table of contents and abstracts.</dd>
</dl>
