<center>

<H1>Special Track on the 4th International Planning Competition
</H1> 

<H2>Guest Editors</H2>
<H3>Maria Fox</H3>
<H3>David E. Smith</H3>
</center>

<BR>
<hr>
<a name="articles">
<h2>Special Track Contents</h2>
</a>
<P>The International Planning Competition Series began in 1998 and has been running biennially since that date.  The competitions have been an important driver for research in the field.  In particular, they have resulted in an evolving language for describing planning domains and problems (PDDL), a body of benchmark domains and problems in that language, and the ability to directly compare different generative planning techniques.  All of this has contributed to significant advances in both the character and difficulty of problems that can be represented and solved by generative planning techniques.</p>

<p>The papers in this PROJAS Special Track cover the 4th International Planning Competition (IPC-4), held in conjunction with the 14th International Conference on Planning and Scheduling (ICAPS-04). This competition marks the first time in which there has been a "probabilistic track" along with the continuing "classical" or "deterministic" track.  As a result, the papers are divided into these two categories.  The two overview papers (Edelkamp & Hoffmann, 2005) and 
(Younes et al, 2005)  describe the
language, structure and results of the classical and probabilistic competitions, respectively.  The remaining papers describe the techniques and systems used in the competition.  These papers include both standard Research Papers describing new 
techniques, and Engineering Notes describing the details of how a 
particular system was developed for competitive performance. 
</p>
<p>
In keeping 
with the spirit of PROJAS, papers in the Special Track will appear here
as they are published, over the course of several months.
</p>

<hr>
<ul>
 
<li>
<a href="/papers/paper1677.html">
Hoffmann, J. and Edelkamp, S. (2005)</a>
"The Deterministic Part of IPC-4: An Overview",
Volume 24, pages 519-579.


<li>
<a href="/papers/paper1696.html">
Botea, A., Enzenberger, M., Mueller, M. and Schaeffer, J. (2005)</a>
"Macro-FF: Improving AI Planning with Automatically Learned Macro-Operators",
Volume 24, pages 581-621.


<li>
<a href="/papers/paper1880.html">
Younes, H.L.S., Littman, M.L., Weissman, D. and Asmuth, J. (2005)</a>
"The First Probabilistic Track of the International Planning Competition",
Volume 24, pages 851-887.


<li>
<a href="/papers/paper1698.html">
van den Briel, M.H.L. and Kambhampati, S. (2005)</a>
"Optiplan: Unifying IP-based and Graph-based Planning",
Volume 24, pages 919-931.

<li>
<a href="/papers/paper1688.html">
Bonet, B. and Geffner, H. (2005)</a>
"mGPT: A Probabilistic Planner Based on Heuristic Search",
Volume 24, pages 933-944.

<li>
<a href="/papers/paper1701.html">
Onder, N., Whelan, G.C. and Li, L. (2006)</a>
"Engineering a Conformant Probabilistic Planner",
Volume 25, pages 1-15.

<li>
<a href="/papers/paper1676.html">
Thiebaux, S., Gretton, C., Slaney, J., Price, D. and Kabanza, F. (2006)</a>
"Decision-Theoretic Planning with non-Markovian Rewards",
Volume 25, pages 17-74.


<li>
<a href="/papers/paper1700.html">
Fern, A., Yoon, S. and Givan, R. (2006)</a>
"Approximate Policy Iteration with a Policy Language Bias: 
Solving Relational Markov Decision Processes",
Volume 25, pages 85-118.


<li>
<a href="/papers/paper1742.html">
Gerevini, A., Saetti, A. and Serina, I. (2006)</a>
"An Approach to Temporal Planning and Scheduling in Domains with Predictable Exogenous Events",
Volume 25, pages 187-231.

<li>
<a href="/papers/paper1885.html">
Haslum, P. (2006)</a>
"Improving Heuristics Through Relaxed Search - An Analysis of TP4 and HSP*a in the 2004 Planning Competition",
Volume 25, pages 233-267.

</ul>
