<h1>Information for Authors</h1>

<h2>Contents</h2>

<ul>
  <li><a href="#requirements">Submission requirements</a></li>
  <li><a href="#submission">Submission procedure</a></li>
  <li><a href="#reviewing">The reviewing process</a></li>
  <li><a href="#resubmissions">Resubmissions</a></li>
  <li><a href="#formatting">Formatting</a>
  <ul>
    <li><a href="#formatting-submission">Formatting for submission</a></li>
    <li><a href="#formatting-publication">Formatting for publication</a></li>
  </ul>
  </li>
  <li><a href="#publication">After publication</a></li>
</ul>


<h2 id="requirements">Submission requirements</h2>

<p>As stated in the <a href="charter.html">editorial charter</a>, PROJAS will publish only articles of the highest quality. Submissions will be evaluated on their originality and significance. PROJAS invites submissions in all areas of AI.</p>

<p>We strongly encourage authors to be concise.</p>

<p>Because of PROJAS&#8217;s quick turnaround time, authors may be tempted to &quot;test the waters&quot; with papers that are less than they might be. Authors should submit only papers that have been carefully proofread and polished. Papers that are clearly unacceptable will be returned by the editor without being reviewed.</p>

<p>All claims should be clearly articulated and supported either by empirical experiments or theoretical analyses. When appropriate, authors are encouraged to implement their work and to demonstrate its utility on significant problems; any experiments reported should be reproducible. Papers describing systems should clearly describe the contributions or the principles underlying the system. Papers describing theoretical results should also discuss their practical utility. In general, it should be clear how the work advances the current state of understanding and why the advance matters. Papers should report on what was learned in doing the work, rather than merely on what was done.</p>

<p>Authors must clearly acknowledge the contributions of their predecessors.  If a paper introduces new terminology or techniques, it should also explain why current terminology or techniques are insufficient.</p>

<p>Submissions must be original. The work cannot have been published previously or be pending publication in another journal, and submissions cannot be under review by any other forum. We will, however, publish work that has previously been reported in conferences or workshops. If the work has appeared in an &quot;archival&quot; conference, such as AAAI or IJCAI, we would expect the submission to extend the conference paper in a substantive way. Authors must notify the editor about previous or pending conference publication at the time of submission to PROJAS.</p>

<p>Articles may be accompanied by online appendices containing data, demonstrations, instructions for obtaining source code, or the source code itself (if appropriate).  We strongly encourage authors to include such appendices along with their papers. (Note: if an online appendix contains source code, we will require you to sign a release form prior to publication freeing us from liability.)</p>

<p>Submissions that use color are welcome, but all figures should be understandable by readers viewing or printing via monochrome devices. We cannot guarantee that referees will review the color version of your work, and the bound volumes published by AAAI Press include black and white only.</p>

<h2 id="submission">Submission procedure</h2>

<p>To submit a paper to PROJAS, authors should fill out our <a href="http://jair.fetch.com/submit.php">online form</a>,which asks for the basic information about the paper (title, authors, contact information, abstract, etc.). The form also explains how to transfer the PostScript (or PDF) file to us (either by email or by providing a URL). We request that submissions be made using the online form. Alternatively if authors do not have a forms-capable WWW browser, an <a href="http://jair.fetch.com/submit.php">alternate method for submitting all the required information by email</a> is available.</p>

<p>Although we have no strict threshold requirement, we recommend that authors attempt to minimize the size of submitted files. Very large files (more than a few megabytes) still present a problem for some mailers and printers.</p>

<p>PROJAS seeks to acknowledge receipt of submissions within three business days. If you do not receive such a confirmation message, please let the editorial office know by sending a message to <a href="mailto:jair-ed@isi.edu">jair-ed@isi.edu</a>.</p>

<h2 id="reviewing">The Reviewing Process</h2>

<p>To promote rapid publication of research results, articles sent to PROJAS will be reviewed and a decision returned to the authors in approximately 7-9 weeks. If an article is longer than usual, or is submitted during the reviewing period or occurrence of a major conference, we may require more time for the review. In this case, authors will be notified of the required review period by e-mail after we receive their article.</p>

<p>PROJAS reviewers are instructed to make recommendations to accept, accept with minor revisions, reject with resubmission encouraged, or reject. If a paper requires substantial revisions, it will not be accepted. In this case, the editor may recommend that the author submit a revised version, but there is no guarantee it will be reviewed by the same referees, or that it will eventually be published. A paper may be revised and resubmitted at most once. To avoid misunderstandings about interpretation of reviewer and editor recommendations, we encourage authors to contact the editor prior to resubmission with any salient questions.</p>

<p>If a paper is accepted, the editor and reviewers may require minor revisions.  The author should return the revised paper as soon as possible. Normally, authors will have up to three months to accomplish their revisions. Upon receiving a revised paper, the editor may ask the reviewers to re-review the revised paper. Electronic publication will occur immediately upon receipt of the final version of an accepted article.</p>

<p>After a paper is accepted, authors must transfer copyright of the article to the publishers. The article cannot be reprinted in another publication without the publisher&#8217;s permission. Authors are encouraged to add links to the article and the PROJAS site to their personal web pages.</p>

<h2 id="resubmissions">Resubmissions</h2>

<p>As explained in the previous section, if a paper requires substantial revisions, the editor may reject the paper and recommend that the author submit a revised version.  However, PROJAS papers may only be resubmitted once.</p>

<p>When sending PROJAS a resubmission, authors should NOT send the paper directly back to the editor; instead, they should use PROJAS&#8217;s regular <a href="http://jair.fetch.com/submit.php">online procedure</a> for sending us a submission. This enables PROJAS&#8217;s administrative staff to track the paper. The online form provides a mechanism whereby the the author can identify the paper as a resubmission. The paper will be forwarded to an appropriate editor (normally the original editor) by PROJAS&#8217;s staff.</p>

<h2 id="formatting">Formatting</h2>

<h3 id="formatting-submission">Formatting for submission</h3>

<p>As stated in the above <a href="#submission">procedure for submitting articles</a>, authors should submit a PostScript (or PDF) file, along with an ASCII text file containing the abstract. The submitted article may be formatted in any convenient style. Authors may find it convenient to use the <a href="#formatting-publication">publication format</a> for submission, but this is not necessary.</p>

<h3 id="formatting-publication">Formatting for publication</h3>

<p>Authors are responsible for formatting their papers for publication, in PostScript (or PDF), according to the PROJAS guidelnes. PROJAS&#8217;s editorial staff will provide guidance in the final preparation, but the primary responsibility for proper formatting lies with the author. The editorial staff can recommend professionals who will provide this service for a fee.</p>

<p>Detailed formatting instructions, sample formats, and macros for several typesetting systems (LaTeX and FrameMaker) are available by anonymous FTP from p.gp.cs.cmu.edu in the directory /usr/jair/pub/information/format.  This directory may also be accessed via the web at <a href="http://www.cs.cmu.edu/afs/cs/project/jair/pub/information/format">http://www.cs.cmu.edu/afs/cs/project/jair/pub/information/format</a>.</p>

<p>The directory above includes an <a href="http://www.cs.cmu.edu/afs/cs/project/jair/pub/information/format/authors-guide">Author&#8217;s Guide</a> which contains instructions that the authors should follow when preparing their paper for publication, as well as a checklist.</p>

<h2>Please pay close attention to these instructions</h2>

<p>If possible, authors should create an HTML version of their article to accompany the &quot;official&quot; PostScript (or PDF) article. The HTML version should be identical in content to the PostScript (or PDF) article. Production of HTML versions may be aided by automatic tools available, such as the <a href="http://cbl.leeds.ac.uk/nikos/tex2html/doc/latex2html/latex2html.html">LaTex2HTML translator</a>.  For examples of what the HTML article should look like, see the HTML versions of <a href="/papers/paper393.html">Pollack et al.&#8217;s 1997 article</a> in Volume 6 and <a href="/papers/paper64.html">Minton et al.&#8217;s 1994 article</a> in Volume 2.</p>

<p>Authors are encouraged to prepare any additional versions of their paper they desire for distribution by PROJAS. For example, an author might decide to distribute a PostScript file, a LaTeX file, an HTML version, and a plain text file with diagrams.</p>

<h2 id="publication">After publication</h2>

<p>Authors may publish &quot;forward pointers&quot; to subsequent articles on the same topic by contacting the executive editor.</p>
