<form id="edit_user" action="[action]" method="post">
	<input type="hidden" id="people_id" name="people_id" value="[people_id]" />
	<input type="hidden" id="user_id" name="user_id" value="[user_id]" />
	<input type="hidden" name="current_page_action" id="current_page_action" value="[current_page_action]" />
	<input type="hidden" name="parent_page_action" id="parent_page_action" value="[parent_page_action]" />
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
		   <td class="formheader">Old&nbsp;Password:</td>
		   <td class="formfield"><input type="password" id="old_password" name="old_password" class="input_text" maxlength="20" /></td>
		</tr>
		<tr>
		   <td class="formheader">New&nbsp;Password:</td>
		   <td class="formfield"><input type="password" id="new_password" name="new_password" class="input_text" maxlength="25" /></td>
		</tr>
		<tr>
		   <td class="formheader">Verify&nbsp;New&nbsp;Password:</td>
		   <td class="formfield"><input type="password" id="v_new_password" name="v_new_password" class="input_text" maxlength="50" /></td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" class="submit" id="cancel" name="cancel" value="Cancel" />
			<input type="submit" class="submit" id="update_password" name="update_password" value="Save" /></td>
		</tr>
	</table>
</form>