<?
$oPaper = $myPM->papers[0] ;
?>
<form action="/publish.php" method="post">
	<input type="hidden" name="paper_id" value="<?=$oPaper->paper_id?>" />
	<input type="hidden" name="mode" value="update_published_paper" />
	<input type="hidden" name="submode" value="<?=$myPM->submode?>">
	<table border="0" cellspacing="1" cellpadding="1" width="100%" class="summary-table">
    <tr>
        <td colspan="2" class="editheader">Paper&nbsp;<?=$myPM->papers[0]->paper_id?></td>
    </tr>
	<tr>
		<td class="formname" width="30%">Title</td>
		<td class="formfield"><input type="text" name="title_published" value="<?=br2nl($oPaper->title_published)?>" style="width: 375px; height: 20px;"/></td>
	</tr>
	<tr>
		<td class="formname" width="30%">Volume</td>
		<td class="formfield"><input type="text" size="4" name="volume" value="<?=$oPaper->volume?>" /></td>
	</tr>
	<tr>
		<td class="formname" width="30%">Page Range</td>
		<td class="formfield">
		<input type="text" name="start_page" value="<?=$oPaper->start_page?>" size="4"/>&nbsp;-&nbsp;<input type="text" name="end_page" value="<?=$oPaper->end_page?>" size="4"/>
		</td>
	</tr>
	<tr>
		<td class="formname" width="30%">Publish Date</td>
		<td class="formfield"><?=vAdmin::getDateSelect('publish_date',$oPaper->publish_date)?></td>
	</tr>
	<tr>
		<td class="formname">Abstract</td>
		<td class="formfield"><textarea name="abstract_published" class="textareab"><?=br2nl($oPaper->abstract_published)?></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="formfield">
		<input type="button" class="submit" name="cancel" value="Cancel" onclick="document.location='/publish.php?mode=publish_details&paper_id=<?=$oPaper->paper_id?>';" />
		<input type="submit" class="submit" name="submit" value="Save" />
		</td>
	</tr>
</table>
</form>